<%= form_for(@bid) do |f| %>
  <% if @bid.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@bid.errors.count, "error") %> prohibited this bid from being saved:</h2>

      <ul>
      <% @bid.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <% if @bid.is_a? SharedBid %>
      <%= f.label :pot %><br />
      <%= f.number_field :amount %>
      <div class="field">
        <label for="cut">Cut</label><br />
        <input id="cut" name="cut" type="textfield" />
      </div>
    <% else %>
      <%= f.label :amount %><br />
      <%= f.number_field :amount %>
    <% end %>
    <%= f.hidden_field :auction_id, value: @auction_id %>
    <%= f.hidden_field :user_id,    value: @user_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
