<p id="notice"><%= notice %></p>

<% if @bid.auction_id %>
<p>
  <b>Chore:</b>
  <%= Chore.find(Auction.find(@bid.auction_id).chore_id).name %>
</p>
<% end %>

<p>
  <b>Amount:</b>
  <%= @bid.amount %>
</p>

<% if @bid.is_a? SharedBid %>
  <p>
    <b>Overseer's cut:</b>
    <%= @bid.cut %>
  </p>
<% end %>

<%= link_to 'Edit', edit_bid_path(@bid) %> |
<%= link_to 'Back', bids_path %>
