<h1>Listing auctions</h1>

<table>
  <tr>
    <th>Expiration date</th>
    <th>Chore name</th>
    <th></th>
  </tr>

<% @auctions.each do |auction| %>
  <tr>
    <td><%= auction.expiration_date %></td>
    <td>
    <% if auction.chore %>
      <%= auction.chore.name %>
    <% end %>
    </td>
    <td><%= link_to 'View', auction %></td>
    <td><%= link_to 'Edit', edit_auction_path(auction) %></td>
    <td><%= link_to 'Destroy', auction, :method => :delete, :data => { :confirm => 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />
