<p id="notice"><%= notice %></p>

<p>
  <b>Expiration date:</b>
  <%= @auction.expiration_date.localtime %>
</p>

<p><%= link_to 'Bid on this auction', "new_bid/"+@auction.id.to_s %>

<p>
<%sorted_bids=@auction.bids.sort {|a,b| bid_sorter(a,b)}%>
<%top=sorted_bids[0]%>
<%if top %>
  <b>Top bid:</b><br/>
  <%= top.user.username %> bid at most
  <%= @auction.lowest %>
  <% if @auction.chore.is_a? SharedChore %>
    total with a pot of <%= top.amount %>
  <% end %> at
  <%= top.created_at.localtime %><br>
  <b>Past bids:</b><br/>
  <%sorted_bids[1..-1].each do |bid| %>
    <%is_dupe=@auction.dupe_bid?(bid)%>
    <%if is_dupe%> <del> <%end%>
    <%= bid.user.username %> bid
      <%=(is_dupe and bid.user==top.user  and bid.total<=@auction.lowest) ? "at most #{@auction.lowest}" : bid.total%> at
      <%= bid.created_at.localtime %>
      <% if @auction.chore.is_a? SharedChore %>
        with a pot of <%= bid.amount%>
      <% end %>
    <%if is_dupe%> </del> <%end%>
    <br/>
  <% end %>
  </p>
<%else%>
  No bids yet <br/>
<%end%>


<%= link_to 'Edit', edit_auction_path(@auction) %> |
<%= link_to 'Back', auctions_path %>
