<p id="notice"><%= notice %></p>

<p>
  <b>Expiration date:</b>
  <%= @auction.expiration_date %>
</p>

<p><%= link_to 'Bid on this auction', "new_bid/"+@auction.id.to_s %>

<p>
<b>Bids:</b><br/>
  <%(@auction.bids.sort {|a,b| bid_sorter(a,b)}).each do |bid| %>
      <%= bid.user.username %> bid <%= bid.amount %> at <%= bid.created_at %>
      <br/>
  <% end %>
</p>


<%= link_to 'Edit', edit_auction_path(@auction) %> |
<%= link_to 'Back', auctions_path %>
