<p id="notice"><%= notice %></p>

<p>
  <b>Expiration date:</b>
  <%= @auction.expiration_date %>
</p>

<p><%= link_to 'Bid on this auction', "new_bid/"+@auction.id.to_s %>

<p>
<%sorted_bids=@auction.bids.sort {|a,b| bid_sorter(a,b)}%>
<%top=sorted_bids[0]%>
<b>Top bid:</b><br/>
<%= top.user.username %> bid at most
<%= [top.amount,sorted_bids[1].amount-1].max %> at <%= top.created_at %><br>
<b>Past bids:</b><br/>
  <%sorted_bids[1,sorted_bids.length].each do |bid| %>
      <%= bid.user.username %> bid <%= bid.amount %> at <%= bid.created_at %>
      <br/>
  <% end %>
</p>


<%= link_to 'Edit', edit_auction_path(@auction) %> |
<%= link_to 'Back', auctions_path %>
