<p id="notice"><%= notice %></p>

<p>
  <b>Username:</b>
  <%= @user.username %>
</p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>

<p>
  <b>Chorons:</b>
  <%= @user.chorons %>
</p>

<p>
  <b>Chores:</b>
  <%= render "layouts/chore_table", chores_list: @user.prioratized_chores %>
</p>

<%= link_to 'Give chorons', @user.id.to_s+"/give_chorons" %>
<%= link_to 'Give chore', "notfound" %>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
