<h1>Chore market</h1>
<div id="views">
Now viewing <%= @view %> auctions. View:
  <%= link_to 'Open', :controller => "home", :action => "chore_market", :view => 'open' %> |
  <%= link_to 'Closed', :controller => "home", :action => "chore_market", :view => 'closed' %> |
  <%= link_to 'All', :controller => "home", :action => "chore_market", :view => 'all' %>
</div>

<table>
  <tr>
    <th>Chore name</th>
    <th>Current Value</th>
    <th>Expires</th>
    <th>Chore due</th>
    <th></th>
  </tr>

<% @chores.each do |chore| %>
  <% if (@view=='open' and chore.open?) or
        (@view=='closed' and (not chore.open?)) or
        (@view=='all') %>
    <%= render 'market_row',chore: chore %>
  <% end %>
<% end %>
</table>

<%= link_to 'New chore', new_chore_path %> |
<%= link_to 'New auction (from existing chore)', new_auction_path %>
<%= link_to 'New chore auction', 'new_chore_auction' %>
