<h1>Chore market</h1>
<%= link_to 'All chores', '/chores' %>
<%= link_to 'All auctions', '/auctions' %>
<%= link_to 'All bounties', '/bounties' %>
<div id="views">
Now viewing <%= @view %> chore auctions and chore bounties. View:
  <%= link_to 'Open', :controller => "home", :action => "chore_market", :view => 'open' %> |
  <%= link_to 'Closed', :controller => "home", :action => "chore_market", :view => 'closed' %> |
  <%= link_to 'All', :controller => "home", :action => "chore_market", :view => 'all' %>
</div>
<% unless @shared_chores.empty? %>
  <h2>Available Shared Chores</h2>
  <table>
    <tr>
      <th>Chore name</th>
      <th>Pot</th>
      <th>Cut</th>
      <th>Times done</th>
      <th>Start Time</th>
      <th>End Time</th>
      <th>Overseer</th>
    </tr>
    
    <% @shared_chores.each do |chore| %>
      <%= render 'shared_chore_row',chore: chore %>
    <% end %>
  </table>
<% end %>

<form action="/quickbid" id="new_bids" method="post">
  <h2>Auctions</h2>
  <input name="commit" type="submit" value="Place Bids" tabindex="1" /><br />
  <h3>Individual</h3>
  <input id="bid_user_id" name="user_id" type="hidden"
  value="<%= current_user.id %>" />
  <table>
    <tr>
      <th>Name</th>
      <th>Value</th>
      <th>Bid</th>
      <th>Pref.</th>
      <th>Closes</th>
      <th>Leader</th>
      <th>Chore Due</th>
      <th></th>
    </tr>

    <% @chores.each do |chore| %>
      <% if (@view=='open' and chore.open?) or
             (@view=='closed' and (not chore.open?)) or
             (@view=='all') %>
        <%= render 'market_row',chore: chore %>
      <% end %>
    <% end %>
  </table>
  <hr />
  <% unless @open_shared.empty? %>
    <h3>Shared</h3>
    <table>
      <tr>
        <th>Name</th>
        <th>Total</th>
        <th>Pot</th>
        <th>Pot Bid</th>
        <th>Cut Bid</th>
        <th>Prefs.</th>
        <th>Closes</th>
        <th>Leader</th>
        <th>Chore Due</th>
        <th></th>
      </tr>

      <% @open_shared.each do |chore| %>
        <% if (@view=='open' and chore.open?) or
               (@view=='closed' and (not chore.open?)) or
               (@view=='all') %>
          <%= render 'shared_market_row',chore: chore %>
        <% end %>
      <% end %>
    </table>
    <hr />
  <% end %>
  <input name="commit" type="submit" value="Place Bids" tabindex="1" />
</form>

Create a new: <ul>
<li><%= link_to 'Chore and auction', '/home/new_chore_auction' %></li>
<li><%= link_to 'Standalone chore (without auction or bounty)',
        new_chore_path %></li>
<li><%= link_to 'Auction (from existing standalone chore)',
        new_auction_path %></li>
<li><%= link_to 'Bounty (from existing standalone chore)', new_bounty_path %></li>
</ul>
