<h1>My preferences</h1>

<form method="post" id="bid_preferences" action="/update_prefs">
  <table>
    <tr>
      <th>Chore</th>
      <th>Amount</th>
      <th>Cut</th>
      <th>Manually set</th>
    </tr>

    <% @prefs.each do |scheduler_id,pref| %>
      <% scheduler=ChoreScheduler.find(Integer(scheduler_id))%>
      <% chore=scheduler.chore%>
      <% if chore %>
        <tr>
          <td><%= chore.name %></td>
          <td>
            <input name="amounts[<%= scheduler_id %>]"
                   value="<%= pref[:value] %>" />
          </td>
          <td>
            <% if chore.is_a? SharedChore %>
              <input name="cuts[<%= scheduler_id %>]"
                     value="<%= pref[:cut] %>" />
            <% end %>
          </td>
          <td><%= pref[:manual] %></td>
        </tr>
      <% end %>
    <% end %>
  </table>
  <br />
  <div>
    <input name="commit" type="submit" value="Update Preferences"
    style="float:left" />
    <a href="/clear_prefs" style="float:right">Clear preferences</a>
  </div>
</form>
