<h1>My preferences</h1>

<table>
  <tr>
    <th>Chore</th>
    <th>Amount</th>
    <th>Manually set</th>
  </tr>

<% @prefs.each do |chore_id,pref| %>
  <% chore=Chore.find(Integer(chore_id))%>
  <tr>
    <%= form_tag("preferences/#{chore_id}" ,method: "put") do %>
    <td><%= link_to chore.name, "/chores/#{chore_id}" %></td>
    <td>
       <%initial_value=current_user.bid_prefs[Integer(chore_id)][:value]%>
       <%=text_field_tag(:value, initial_value)%>
   
    </td>
    <td>
      <%= check_box_tag(:manual,1,pref[:manual]) %>
    </td>
    <td>
       <%=submit_tag("Update Preference")%> 
     <% end %>
    </td>
  </tr>
<% end %>
</table>

