<%= form_for @chore, :url => { :action => "make_chore_auction" } do |chore_form| %>

  <div class="field">
    <%= chore_form.label :name %><br />
    <%= chore_form.text_field :name %>
  </div>
  <div class="field">
    <%= chore_form.label :due_date %> for chore<br />
    <%= chore_form.datetime_select :due_date %>
  </div>
  
  <%= chore_form.fields_for @auction do |auction_fields| %>
    <div class="field">
      <%= auction_fields.label :expiration_date %> for auction<br />
      <%= auction_fields.datetime_select :expiration_date %>
    </div>
  <% end %>
  
  <div class="field">
      Repeats<br />
      <%= select_tag(:respawn, options_for_select([['every 5 min',300], ['Weekly',604800], ['Never',0], ['Monthly', 2419200] ])) %>
  </div>

  <div class="field">
    <label for="shared">Shared?</label><br />
    <input id="shared" name="shared" type="checkbox" />
  </div>

  <% #TODO: Add start date dialog box only if it is sharedchore %>

  <div class="field">
    Start date (if shared chore): <br />
    <%= chore_form.datetime_select :start_date %>
  </div>

  <div class="actions">
    <%= chore_form.submit "Make Chore Auction" %>
  </div>
  
<% end %>
