<!DOCTYPE html>
<html>
<head>
  <title>Choron. Brought to you by Mein Haus (TM).</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% if current_user %>
    <div id="user">Logged in as <%= current_user.username %>.</div>
    <div id="chorons">You have <%= current_user.chorons %> chorons.</div>
  <%end%>
<div id="nav">
  <% if current_user %>
    <div class="navtab" id="<%= 'current' if(params[:controller] == 'home' and params[:action] == 'my_chores')%>"><%= link_to "My Chores", :controller => 'home', :action => 'my_chores' %></div>
    <div class="navtab" id="<%= 'current' if(params[:controller] == 'home' and params[:action] == 'chore_market')%>"><%= link_to "Chore Market", :controller => 'home', :action => 'chore_market' %></div>
    <div class="navtab" id="<%= 'current' if(params[:controller] == 'users' and params[:action] == 'index')%>"><%= link_to "All users", :users %></div>
    <div class="navtab" id="<%= 'current' if(params[:controller] == 'users' and params[:action] == 'edit')%>"><%= link_to "Edit Profile", edit_user_path(current_user.id)%></div>
    <div class="navtab" id="<%= 'current' if(params[:controller] == 'user_sessions' and params[:action] == 'destroy')%>"><%= link_to "Logout", :logout%></div>
  <% else %>
    <div class="navtab" id="<%= 'current' if(params[:controller] == 'users' and params[:action] == 'new')%>"><%= link_to "Register", new_user_path %></div>
    <div class="navtab" id="<%= 'current' if(params[:controller] == 'user_sessions' and params[:action] == 'new')%>"><%= link_to "Login", :login %></div>
  <% end %>
</div>

<div id="main">
<%= yield %>
</div>
<div>
<%= flash.inspect %><br/>
<%= debug(params) if Rails.env.development? %>
<%= RUBY_VERSION %>
</div>
</body>
</html>
